<div class="answer-form">
  <h4>Add Answer</h4>

  <%= form_for([question, question.answers.build]) do |f| %>
    <div><%= f.text_area :content, required: true %></div>
    <div><%= f.submit 'Add', class: "btn btn-outline-primary" %></div>
  <% end %>
</div>
