<h5>Answers</h5>

<% if question.answers.any? %>
  <div class="answer">
    <%= answer.content %>
    <% if can? :destroy, answer %>
      <%= link_to "Delete",
        question_answer_path(answer.question, answer),
        method: :delete,
        class: "btn btn-outline-dark"
      %>
    <% end %>
  </div>
<% else %>
  <div>
    No Answer
  </div>
<% end %>
